
@model AirCraftModel

<tr>
    <td data-label="AltitudeType">@Model.AltitudeType</td>
    <td data-label="Altitude">@Model.Altitude</td>
    <td data-label="VelocityType">@Model.VelocityType</td>
    <td data-label="Velocity">@Model.Velocity</td>
</tr>
